.members {
    padding: 20px;
}

.member-card img {
    width: 160px;
    height: 200px;
    object-fit: cover;  /* Обрізає зайве, зберігаючи красу */
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}