.app {
    min-height: 100vh;
    padding: 40px;
    background-color: beige;
    color: #000;
    transition: 0.3s;
}

.app.dark {
    background-color: #0f172a; /* темно-синій */
    color: white;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
